services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=boat_rental'
      - 'POSTGRES_PASSWORD=admin'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    environment:
      - SPRING_PROFILES_ACTIVE=docker  # Activates Docker Profile
      - DB_URL=jdbc:postgresql://postgres:5432/boat_rental  # URL inside Docker
      - DB_USERNAME=postgres
      - DB_PASSWORD=admin
      # Cloudinary credentials - Docker Compose retrieves them from the HOST's .env file.
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
    ports:
      - '8080:8080'
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data: