# ==============================
# MAIN CONFIG - Profile Selector
# ==============================
spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  config:
    import:
      - optional:classpath:.env.properties
      - optional:classpath:application-${spring.profiles.active}.yml