# ==============================
# Configuração dev local
# ==============================
spring:
  application:
    name: timoneiro

  datasource:
    driver-class-name: org.postgresql.Driver
    # url, username e password definidos no application-local.yml
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  config:
    import: optional:application-local.yml  # arquivo local com as credenciais
