# ==============================
# Main Configuration
# ==============================
spring:
  application:
    name: timoneiro

  config:
    import: classpath:.env.properties

  #  DataSource Configuration
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
      format_sql: true

  flyway:
    enabled: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

# Configurações do Cloudinary
cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}
  secure: true

  logging:
    level:
      com.jompastech.backend.security.filter.JwtAuthenticationFilter: DEBUG
      com.jompastech.backend.security.service.UserDetailsServiceImpl: DEBUG
      com.jompastech.backend.repository: DEBUG
      org.springframework.security: DEBUG
    file:
      name: logs/application.log
    pattern:
      console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

app:
  payment:
    pagseguro:
      sandbox:
        url: "https://sandbox.pagseguro.uol.com.br/v2/transactions"
        token: ${PAGSEGURO_SANDBOX_TOKEN:dev_token_${random.value}}
        timeout-ms: 10000
      production:
        enabled: false
        url: "https://ws.pagseguro.uol.com.br/v2/transactions"
        token: ${PAGSEGURO_PRODUCTION_TOKEN:}
    policies:
      max-retries: 3
      retry-delay-ms: 1000