# ==============================
# Configuration dev local
# ==============================
spring:
  application:
    name: timoneiro

  datasource:
    driver-class-name: org.postgresql.Driver
    # url, username and password defined on application-local.yml
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
      format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  config:
    import: optional:application-local.yml  #  local file with credentials

  logging:
    level:
      com.jompastech.backend.security.filter.JwtAuthenticationFilter: DEBUG
      com.jompastech.backend.security.service.UserDetailsServiceImpl: DEBUG
      com.jompastech.backend.repository: DEBUG
      org.springframework.security: DEBUG
    file:
      name: logs/application.log
    pattern:
      console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

app:
  payment:
    pagseguro:
      sandbox:
        url: "https://sandbox.pagseguro.uol.com.br/v2/transactions"
        token: "${PAGSEGURO_SANDBOX_TOKEN:dev_token_${random.value}}"
        timeout-ms: 10000
      production:
        enabled: false
        url: "https://ws.pagseguro.uol.com.br/v2/transactions"
        token: "${PAGSEGURO_PRODUCTION_TOKEN:}"
    policies:
      max-retries: 3
      retry-delay-ms: 1000